{% extends "main.html" %} {% block content %}
<!-- Start Main-->
<main class="main--form">
  <div class="container">
    <div class="box">
      <h3>Are you Sure You Want To Delete " {{object.name}} " ?</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <a href="{% url 'account' %}" class="btn" style="text-decoration: none"
          >Back 👀</a
        >
        <input type="submit" class="btn" value="Confirm" />
      </form>
    </div>
  </div>
</main>
<!-- End Main -->

{% endblock content %}
