{% load static %}

<!--Start Header-->
<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a class="logo" href="/">
          <i class="fa-solid fa-code"></i>
          <span>DevHub</span></a
        >
      </div>
      <ul class="nav__links">
        <li class="nav__item">
          <a class="nav__link" href="{% url 'profiles'%}">Developers</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Inbox</a>
        </li>
        <!-- <li class="nav__item">
          <a class="nav__link" href="#">My Account</a>
        </li> -->
        <li class="nav__item">
          <a class="nav__link" href="{% url 'create-project' %}">Add Project</a>
        </li>
        <li class="nav__item">
          <a class="nav__link btn btn__nav" href="#">Login/Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!--End Header-->
